<%= form_with(model: space, local: true) do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carpark_id %>
    <%= form.collection_select :carpark_id, Carpark.order(:name), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :space_number %>
    <%= form.number_field :space_number %>
  </div>

  <div class="field">
    <%= form.label :hourly_cost %>
    <%= form.text_field :hourly_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
