<h1><%= t('.title')%></h1>
<p><%= t('.description')%></p>

<%= form_tag request_contact_path, method: 'post', id: 'contact_form' do %>
  <%= label_tag :name, t('.name'), class: 'form_label_class' %>
  <%= text_field_tag :name, '', title: t('.enter_name'), :required => true, class: 'text_class' %>
  <%= label_tag :email, t('.email'), class: 'form_label_class' %>
  <%= email_field_tag :email, '', title: t('.enter_email'), :required => true, class: 'text_class' %>
  <%= label_tag :phone, t('.phone_number'), class: 'form_label_class' %>
  <%= telephone_field_tag :phone, '', title: t('.enter_phone_number'), :required => true, class: 'text_class' %>
  <%= label_tag :query, t('.query'), class: 'form_label_class' %>
  <%= text_area_tag :query, '', title: t('.enter_query'), size: "100x10", :required => true, class: 'text_class' %>
  <%= submit_tag t('.submit') %>
<% end %>

