<p id="notice"><%= notice %></p>

<h1><%=t('.tickets')%></h1>

<table>
  <thead>
    <tr>
      <th><%=t('.space_number')%></th>
      <th><%=t('tickets.form.carpark')%></th>
      <th><%=t('tickets.form.registration_number')%></th>
      <th><%=t('tickets.form.paid_from')%></th>
      <th><%=t('tickets.form.paid_to')%></th>
      <th><%=t('.total_cost')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.space.space_number %></td>
        <td><%= ticket.space.carpark.name %></td>
        <td><%= ticket.registration_number %></td>
        <td><%= ticket.paid_from.strftime("%d/%m/%Y  %H:%M") %></td>
        <td><%= ticket.paid_to.strftime("%d/%m/%Y  %H:%M") %></td>
        <td><%= number_to_currency(ticket.total_cost, unit: '£') %></td>
        <td><%= link_to t('.show'), ticket %></td>
        <td><%= link_to t('.edit'), edit_ticket_path(ticket) %></td>
        <td><%= link_to t('.destroy'), ticket, method: :delete, data: { confirm: t('.confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('tickets.new.new_ticket'), new_ticket_path, class: 'button_class' %>
