<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Space Number</th>
      <th>Carpark</th>
      <th>Registration number</th>
      <th>Paid from</th>
      <th>Paid to</th>
      <th>Total cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.space.space_number %></td>
        <td><%= ticket.space.carpark.name %></td>
        <td><%= ticket.registration_number %></td>
        <td><%= ticket.paid_from %></td>
        <td><%= ticket.paid_to %></td>
        <td><%= ticket.total_cost %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
