<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('tickets.index.space_number')%>:</strong>
  <%= @ticket.space.space_number %>
</p>

<p>
  <strong><%=t('tickets.form.carpark')%>:</strong>
  <%= @ticket.space.carpark.name %>
</p>

<p>
  <strong><%=t('tickets.form.registration_number')%>:</strong>
  <%= @ticket.registration_number %>
</p>

<p>
  <strong><%=t('tickets.form.paid_from')%>:</strong>
  <%= @ticket.paid_from %>
</p>

<p>
  <strong><%=t('tickets.form.paid_to')%>:</strong>
  <%= @ticket.paid_to %>
</p>

<p>
  <strong><%=t('tickets.index.total_cost')%>:</strong>
  <%= @ticket.total_cost %>
</p>

<%= link_to t('.edit'), edit_ticket_path(@ticket) %> |
<%= link_to t('tickets.new.back'), tickets_path %>
