<p id="notice"><%= notice %></p>

<p>
  <strong>Space:</strong>
  <%= @ticket.space.space_number %>
</p>

<p>
  <strong>Carpark:</strong>
  <%= @ticket.space.carpark.name %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @ticket.registration_number %>
</p>

<p>
  <strong>Paid from:</strong>
  <%= @ticket.paid_from %>
</p>

<p>
  <strong>Paid to:</strong>
  <%= @ticket.paid_to %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @ticket.total_cost %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
