<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carpark.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @carpark.address %>
</p>

<%= link_to 'Edit', edit_carpark_path(@carpark) %> |
<%= link_to 'Back', carparks_path %>
